:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayisch-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  --font-paragraph-size: 15px;
  --font-family: url(https://fonts.google.com/specimen/Outfit);
  --font-weights-light: 400;
  --font-weights-heavy: 700;
}
